.button-default {
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    width: 170px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #001F31;
    background-color: #ECF6F7;
    color: #001F31;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box; 
  }