body {
    font-family: 'Roboto', sans-serif;
    color: #001F31;
    min-height: 100vh;
    background-color: #EEE7E2;
}

.home-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-title {
    font-family: 'Lobster', sans-serif;
    color: #001F31;
    text-align: center;
}